  .mat-card-subtitle
  {
    padding:0px;
    margin: 0px;
  }

  .mat-card-title
  {
    color:white;
    font-size:18px;
    padding: 10px 0px 0px 0px;
  }

  .mat-card
  {
    padding:0px;
    display:contents;
  }
  