<!-- Social Media Login Button -->
<div>
    <mat-card *ngIf="loggedIn===false">
        <mat-card-header>
            <mat-card-subtitle>
                <div>
                    <button type="button" (click)="signInWithFB()" *ngIf="loggedIn===false" mat-flat-button
                        color="primary">Sign
                        In With Facebook</button>
                    <button type="button" (click)="signOut()" *ngIf="loggedIn===true" mat-flat-button
                        color="primary">Sign Out
                        From Facebook</button>
                </div>
            </mat-card-subtitle>
        </mat-card-header>
        
    </mat-card>
    <mat-card *ngIf="loggedIn===true">
        <mat-card-header>
            <mat-card-title>
                <span>Welcome: {{user.firstName}} {{user.lastName}}</span>
            </mat-card-title>
        </mat-card-header>
        <!-- <img style="width:80px" mat-card-image [src]="user.photoUrl" alt="My Facebook Photo"> -->
        <mat-card-content>
            <!-- Card contents go here -->
        </mat-card-content>
    </mat-card>
</div>
<!-- Social Media Login Button -->